<div class="app-container">
  <aside class="left-panel">
    <app-left-panel
      [groupedDates]="groupedTaskDates"
      [selectedDate]="selectedDate()"
      (dateSelect)="onDateSelect($event)"
      (search)="onSearch($event)"
      (addTask)="taskListModalOpen()">
    </app-left-panel>
  </aside>

  <main class="right-panel">
    <app-task-list
      [tasks]="tasksToShow"
      #taskList
      [selectedDate]="selectedDate()"
      (taskCompleted)="onTaskActionComplete()">
    </app-task-list>
  </main>
</div>
